root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

[*.ahk]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true

[*.{ini,bar}]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false

[*.{json,gitconfig,gitignore}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false

[*.{ps1,psm1}]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
