#
# To list global configuration with expanded includes: git config --global --includes user.name
#

[include]
  path = "~/.local.gitconfig"

[core]
  askpass =
  autocrlf = false
	editor = code --wait

[push]
  default = simple
  autoSetupRemote = false
  
[branch]
  autoSetupMerge = true
[credential]
	modalprompt = false
